.id-cards {
  display: flex;
  width: 800px;
  align-items: center;
  
}

.user-data {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-data p {
  margin: 0;
  padding: 5px 0 0 5px;
}

.box-style {
  border: solid 3px black;
  width: 800px;
  margin-bottom: 20px;
}